# Core GPU Framework
torch==2.3.0+cu121
torchvision==0.18.0+cu121
torchaudio==2.3.0+cu121
--extra-index-url https://download.pytorch.org/whl/cu121

# Image segmentation & deep learning tools
instanseg-torch
cellpose
napari

# Image I/O & scientific libraries
scikit-image
tifffile
openslide-python

# Data manipulation
pandas

# Visualization & notebooks
matplotlib
seaborn
ipykernel

# Utilities
requests
openpyxl
openslide-bin

# Optional: only if you use interactive plots or notebooks
jupyterlab

# Machine Learning
scikit-learn